body {
    background-color: lightcoral;
}

#navbar ul {
    padding: 0;
    list-style: none;
    float: right;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: rgb(12, 122, 111);
    position: relative;
    width: 100%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
}

#navbar a:hover {
    font-size: larger;
    background-color: grey;
    transition: 0.2s;
}

#main-footer {
    background-color: darkslategray;
    color: floralwhite;
    width: 100%;
    height: 20%;
    text-align: center;
}