    body {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/bg-05.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 97.5vh;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }
    /* .container {
    width: 80%;
    margin: 0 auto;
} */
    /* styling the navbar */
    
    nav {
        overflow: hidden;
    }
    
    .navigation {
        display: block;
        list-style: none;
        float: right;
    }
    
    .navigation li {
        display: inline-block;
    }
    
    .navigation li a {
        color: rgb(41, 197, 182);
        width: 100%;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        float: right;
        padding: 8px;
    }
    
    .navigation a:hover {
        font-size: larger;
        background-color: grey;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }
    
    #main-footer {
        background-color: darkslategray;
        color: floralwhite;
        width: 99%;
        height: 1.7%;
        text-align: center;
        margin-top: 550px;
        margin-bottom: 0px;
        padding: 1em;
    }
    /* styling the newsletter box  */
    
    .contact-box {
        background-color: #333;
        color: wheat;
        text-align: center;
        margin: 136px;
        width: 25%;
        position: absolute;
        left: 30%;
        top: -20%;
        transform: translate(-10%, 1%);
        padding: 10px;
        -webkit-transform: translate(-10%, 1%);
        -moz-transform: translate(-10%, 1%);
        -ms-transform: translate(-10%, 1%);
        -o-transform: translate(-10%, 1%);
    }
    
    button {
        background-color: rgb(4, 59, 54);
        color: whitesmoke;
        display: inline-block;
        margin: 0 auto;
    }
    
    button:hover {
        background-color: turquoise;
    }
    /* styling the font awesome icons */
    
    .twitter {
        margin: 0 10px;
        color: white;
    }
    
    .instagram {
        margin: 0 10px;
        color: white;
    }
    
    .linkedin {
        margin: 0 10px;
        color: white;
    }
    
    .github {
        margin: 0 10px;
        color: white;
    }
    
    .mail {
        margin: 0 10px;
        color: white;
    }
    
    @media screen and (max-width: 800px) {
        .contact-box,
        .navigation,
        #main-footer,
        body {
            width: 100%;
        }
    }